<!DOCTYPE html>

<html>
  <head>
    <title>APIs and Microservices</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>

  <body>
    <h1>Select a project from the list</h1>
    <ul>
      <li><a href="/hello">Hello</a></li>
      <li><a href="/express">Express Tutorial</a></li>
      <li><a href="/timestamp">Timestamp</a></li>
      <li><a href="/header-parser">Header Parser</a></li>
      <!-- <li><a href="/url-shortener">URL Shortener</a></li> -->
      <li><a href="/exercise-tracker">Exercise Tracker</a></li>
      <li><a href="/file-metadata">File Metadata</a></li>
    </ul>
    <div class="footer">
      <p>By <a href="https://github.com/TheNunoGomes">Nuno Gomes</a></p>
    </div>
  </body>
</html>
